/* Border Style
1. solid
2. dashed
3. groove
4. dotted
5. double
 */

 *{
    box-sizing: border-box;
    margin: 0;
 }
/* div{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 30px;
    background-color: aqua;
    border: 10px solid black;
}

section{
    height: 300px;
    width: 300px;
    background-color: purple;
} */

div{
    height: 300px;
    width: 300px;
    background-color: yellow;
    margin: 20px 0 0 0;
    padding: 20px;
}