/* Simple Selector */

/* Id selector */
*{
    background-color: lightcoral;
    font-family: sans-serif;
}
#para{
    background-color: aqua;
}

.content{
    background-color: black;
    color: white;
}
.content3{
    color: yellow;
}